doctype html
html(lang="en" ng-app)
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title Test


	body

		.main-container#app

			// Need .alert class to be displayed
			.alert-app-level

			include header.pug
			include main.pug
