#story-container
  #steps-container(@keyup.native.enter='nextStep')
    story-step(
      v-for="(step, index) of story.steps" v-bind:key="story.id"
      v-show="index == currentStep"
      v-bind:config='step'
    )
