doctype html
html(lang="en" ng-app)
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title Histories

	body
		// APP CONTAINER
		#app
			
			// HEADER
			header.header.header-1
				#header-links
					router-link.header-link(to="/home") Histories
					router-link.header-link(to="/stories") Stories
				#points-counteur {{counter.pointsCount}} Points

			// APP CONTENT
			transition(name="fade")
				router-view#app-content
