#app {
  display: flex;

  #app-content {
    flex-grow: 1;
    display: flex;
  }

  .fade-enter-active {
    transition: opacity 100ms 100ms;
  }
  .fade-leave-active {
    transition: opacity 100ms;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
