.step-content {
  width: 100%;
  flex-grow: 1;
  background: lighten(grey, 30%);

  .step-image {
    height: calc(~'100% - 75px');
    text-align: center;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  .step-text-container {
    height: 75px;
    display: flex;
    flex-direction: row;

    .step-valid {
      background: green;
      color: white;
      font-weight: bold;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 10px;

      &:hover {
        background-color: lighten(green, 10%);
      }
    }
  }
}
