span.text-choose(v-bind:class="{'select-mode': selectMode}")
  .option.selected-option(
    v-on:click="enterSelectMode($event)"
    v-if="!selectMode"
  ) {{selectedOption || "......"}}
  
  .options-container
    .option(
      v-for='(option, index) in options'
      v-on:click="selectOption(index, $event)"
    ) {{option}}
